// resolutions
@mixin desktop() {
  @media (max-width: 1080px) {
    @content;
  }
}
@mixin portable() {
  @media (max-width: 640px) {
    @content;
  }
}

//fonts
@mixin h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}
@mixin h2 {
  @include h1;
  font-size: 20px;
}
@mixin h3 {
  @include h1;
  font-size: 16px;
  font-weight: normal;
}
@mixin h4 {
  @include h1;
  font-size: 14px;
}
@mixin h5 {
  @include h1;
  font-size: 12px;
  font-weight: normal;
}
@mixin phone {
  @include h1;
  font-size: 12px;
}
@mixin desktop {
  @include h1;
  font-size: 12px;
}
